<nb-card-header>Signup</nb-card-header>
<nb-card-body class="example-items-col p-3">
  <!-- <form [formGroup]="registerform" class="mt-5" (ngSubmit)="userSubmit()"> -->
  <nb-form-field class="p-2">
    <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
    <input
      type="email"
      nbInput
      halfWidth
      fieldSize="small"
      placeholder="Email"
    />
  </nb-form-field>
  <nb-form-field class="p-2">
    <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
    <input type="text" nbInput halfWidth fieldSize="small" placeholder="Name" />
  </nb-form-field>
  <nb-form-field class="p-2">
    <nb-icon nbPrefix icon="person" pack="eva"></nb-icon>
    <input
      type="text"
      nbInput
      halfWidth
      fieldSize="small"
      placeholder="Username"
    />
  </nb-form-field>
  <nb-form-field class="p-2">
    <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
    <input
      [type]="getInputType()"
      placeholder="Password"
      fieldSize="small"
      nbInput
    />
    <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
      <nb-icon
        [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
        pack="eva"
        [attr.aria-label]="showPassword ? 'hide password' : 'show password'"
      >
      </nb-icon>
    </button>
  </nb-form-field>
  <!-- (click)="onClick()" -->
  <input
    nbButton
    type="submit"
    class="pull-right m-2 p-2"
    hero
    status="success"
    value="Signup"
    (click)="userSubmit()"
  />
  <!-- </form> -->
</nb-card-body>
<nb-card-footer>
  <button
    style="width: 100%"
    nbButton
    status="control"
    [routerLink]="['/app/signin']"
  >
    Already a member?
  </button>
</nb-card-footer>
