<form [formGroup]="registerform" class="mt-5" (ngSubmit)="userSubmit()">
  <mat-form-field class="stretch" appearance="outline">
    <mat-label> Name </mat-label>
    <input matInput formControlName="fullname" />
    <mat-error>*Name Is Required</mat-error>
  </mat-form-field>
  <mat-form-field class="stretch" appearance="outline">
    <mat-label> Username </mat-label>
    <input matInput formControlName="username" />
    <mat-error>*Username must be between 4 to 10 words</mat-error>
  </mat-form-field>
  <mat-form-field class="stretch" appearance="outline">
    <mat-label> Email </mat-label>
    <input matInput formControlName="email" />
    <mat-error>*Check Your Email</mat-error>
  </mat-form-field>
  <mat-form-field class="stretch" appearance="outline">
    <mat-label> Password</mat-label>
    <mat-error>*Min Password length is 6 words</mat-error>
    <input matInput type="password" formControlName="password" />
  </mat-form-field>
  <!-- button using material angular -->
  <button mat-flat-button color="accent">ENTER</button>
</form>
